html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

#main-page {
   min-height:100%;
   position:relative;
}

#canvas-div {
	width: 100%;
  height: 100%;
}

#content {
   padding-bottom:50px;   /* Height of the footer */
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:50px;   /* Height of the footer */
}